/* Mexendo no header*/

.main_header {
    width: 100%;
    background-color: #2d3142;
}

.main_content_header {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
}

.main_content_header .main_content_header_logo {
    width: 290px;
    padding: 20px;
    flex-basis: 330px;
}

.main_content_header .main_header_content_menu {
    display: flex;
    flex-basis: calc(100% - 330px);
    justify-content: flex-end;
}

.main_content_header .main_header_content_menu ul {
    display: flex;
    list-style: none;
}

.main_content_header .main_header_content_menu ul li {
    display: flex;
}

.main_content_header .main_header_content_menu ul li a {
    display: flex;
    align-items: center;
    color: #d36833;
    padding: 0 25px;
    
}

.main_content_header .main_header_content_menu ul li a:hover {
    background-color: #d36833;
    color: #fff;
}

/* Primeira dobra - CPA */

.main_cta {
    width: 100%;
    background-color: #2d3142;
    background-image: url('../_img/bg_main_home.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.main_cta .main_content_cta {
    max-width: 1300px;
    margin: 0 auto;
    padding: 15.3% 40px;

}

.main_cta .main_content_cta h1 {
    text-align: center;
    font-size: 3em;
    color: #fff;
    font-weight: 700;
}

.main_cta .main_content_cta p {
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    font-weight: 300;
    margin: 20px 0;
}

.main_cta .main_content_cta .btn_orange {
    font-size: .875em;
}

/*Segunda dobra - sessão de artigos */

.main_article {
    
    width: 100%;
}

.main_article .main_article_content {
    max-width: calc(1300px - 40px);
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
}

.main_article .main_article_content .main_article_header {
    flex-basis: 100%; /*esta pegando a largura do conteudo*/
    color: #333;
}

.main_article .main_article_content .main_article_header h1 {
    font-size: 1.8em;
    margin: 20px 0 5px 0;
}

.main_article .main_article_content .main_article_header p {
    margin-bottom: 10px;
    font-weight: 500;
}

.main_article .main_article_content article {
    flex-basis: calc(25% - 20px);
    margin: 10px;
    opacity: .6; /*Tag para clarear o conteudo*/
    transition: opacity .5s linear; /*Transição de uma propriedade escolhida*/

}

.main_article .main_article_content article:hover {
    opacity: 1;
    transform: opacity .5s ease-in-out;
}

.main_article .main_article_content article .main_blog_meta {
    margin-top: 10px;
    text-align: center;
    color: #fff rgb(153, 153, 153);
    padding: 5px 0 10px 0;
    font-size: .925em;
    background-color: #e2e2e2;
}

.main_article .main_article_content article .main_blog_meta a {
    color: rgb(105, 105, 105);
    text-decoration: none;
}

.main_article .main_article_content article .main_blog_meta a:hover {
    text-decoration: underline;
}

.main_article .main_article_content article .main_blog_meta > p {
    margin-bottom: 5px;
}

.main_article .main_article_content article .main_blog_meta img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 5px;
}


.main_article .main_article_content article img {
    width: 100%;
}

.main_article .main_article_content article p {
    margin: 10px 0;
}

.main_article .main_article_content article p a{
    color: #d36833;
    font-size: .875em;
}

.main_article .main_article_content article h2 {
    font-size: 1.1em;
    font-weight: 300;
}

.main_article .main_article_content article h2 a {
    color: #333;
}

/*Terceira dobra - optin*/

.main_optin {
    width: 100%;
    background-color: #2d3142;
    margin: 40px 0 10px 0;
}

.main_optin .main_optin_content {
    display: flex;
    max-width: calc(1300px - 40px);
    margin: 0 auto;
    padding: 40px 20px;
    
}

.main_optin .main_optin_content header,.main_optin .main_optin_content form {
    flex-basis: 50%;
}

.main_optin .main_optin_content header{

}

.main_optin .main_optin_content form input[type="text"],.main_optin .main_optin_content form input[type="email"]{
    
    border-radius: 8px;
    flex-basis: 37%;
    padding-left: 10px;
}

.main_optin .main_optin_content header h1, .main_optin .main_optin_content header p {
    color: #fff;
    text-align: right;
    padding-right: 20px;
}

.main_optin .main_optin_content header h1 {
    font-size: 1.1em;
    letter-spacing: 1px;
}

.main_optin .main_optin_content form {
    display: flex;
    justify-content: space-between;
}

.main_optin .main_optin_content form button {
    
    border-radius: 8px;
    flex-basis: 20%;
}

/*Quarta dobra - curso*/
/*About*/

.main_course {
    width: 100%;
}

.main_course .main_course_content {
    
}

.main_course .main_course_content .main_course_header {
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
    color: #333;
    margin-bottom: 40px;
}

.main_course .main_course_content .main_course_header img {   
    margin-bottom: 20px;
}

.main_course .main_course_content .main_course_header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.main_course_about {
    margin-bottom: 40px;
}

.main_course .main_course_content .main_course_about_content {
    max-width: 1300px;
    margin: 0 auto;
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #333;
}

.main_course .main_course_content .main_course_about_content article {  
    flex-basis: calc(50% - 20px);
    margin: 20px 0;
    padding: 20px;
    background-color: #e0e0e0;
    border-radius: 5px;
}

.main_course .main_course_content .main_course_about_content article h2 {
    font-size: 1.1em;
}

.main_course .main_course_content .main_course_about_content article p {
    font-size: .875em;
}

/*RATING*/

.main_course_rating {
    
    background-color:#d36833;
    margin: 40px 0;
    padding: 50px;
    
}

.main_course_rating_content {
    max-width: 1300px;
    margin: 0 auto;
}

.main_course_rating .main_course_rating_content > article {
    padding: 20px;
    text-align: center;
    
}

.main_course_rating .main_course_rating_content > article h2{
    color: #fff;
    font-size: 2em;
    margin-bottom: 20px;
}

.main_course_rating_content_comment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main_course_rating_content_comment > header {
    
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    font-size: 1.2em;
    flex-basis: 100%;
}

.main_course_rating_content_comment article {
    flex-basis: calc(50% - 20px);
    margin: 10px 0;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 15px;
    
}

.main_course_rating_content_comment article p {
    padding: 5px;
    font-size: .875em;
    
}

.main_course_rating_content_comment article img {
    width: 20px;
}

/* Quinta dobra - escola */

.main_school{
    
    max-width: 100%;
    margin: 40px 0;
}

.main_school .main_school_content {
    
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /*O espaço que sobrar ele preenche entre os elementos automaticamente*/
}

.main_school .main_school_content > header {
    
    flex-basis: 100%;
    color: #333;
}

.main_school .main_school_content > header h1 {
    font-size: 2em;
}

.main_school .main_school_content > header p {
    margin: 5px 0 25px 0;
    font-weight: 500;
}

.main_school .main_school_content .main_school_content_left {
    
    
    flex-basis: calc(70% - 30px);
}

.main_school .main_school_content .main_school_social_networks {
    
    background-color:#2d3142;
    border-radius: 5px;
    padding: 10px 0 10px 25px;
}   


.main_school .main_school_content .main_school_social_networks a {

    
    color: #fff;
    margin-right: 20px;
}

.main_school .main_school_content .main_school_content_left > article header h2 {
    
    margin: 20px 0 10px 0;
    font-size: 1.075em;
}

.main_school .main_school_content .main_school_content_left > article p {
    
    font-size: 0.875em;
    font-weight: 500;
    margin-bottom: 20px;
}

.main_school .main_school_content .main_school_content_left .main_school_awards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: rgb(218, 218, 218);
    

}

.main_school .main_school_content .main_school_content_left .main_school_awards > header {
    
    flex-basis: 100%;
    margin-bottom: 20px;
    color: #d36833;
}

.main_school .main_school_content .main_school_content_left .main_school_awards article {
 
    flex-basis: calc(50% - 20px);
    margin-bottom: 10px;
}
.main_school .main_school_content .main_school_content_left .main_school_awards article h3 {
    font-weight: normal;
    font-size: .950em;
}

.main_school .main_school_content .main_school_content_right {
  
    flex-basis: 30%;
    padding: 30px;
}

.main_school .main_school_content .main_school_content_right img {
    width: 100%;
    border-radius: 50%;
}

.main_school .main_school_content .main_school_content_address {
    text-align: center;
    margin: 0 auto;
    flex-basis: 100%;
    padding: 20px 0;
}

.main_school .main_school_content .main_school_content_address h3 {
    font-size: 1.3em;
}

/* Sexta dobra do tutor */

.main_tutor {
    border: 2px solid black;
    background-color: #2d3142;
    width: 100%;
}

.main_tutor .main_tutor_content {
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 10px;
    color: #fff;
}

.main_tutor .main_tutor_content header > h1 {
    font-size: 2em;
}

.main_tutor .main_tutor_content header > p {
    font-size: 1.1em;
    margin: 10px 0;
}
.main_tutor .main_tutor_content .main_tutor_picture {
    padding: 10px;
}

.main_tutor .main_tutor_content .main_tutor_picture img {
    width: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
}

.main_tutor .main_tutor_content .main_tutor_formation {
    margin: 15px 0 30px 0;
}

.main_tutor .main_tutor_content .main_tutor_formation h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.main_tutor .main_tutor_content .main_tutor_formation p {
    padding: 0 10px;
}


.main_tutor .main_tutor_content .main_tutor_socieal_networks {
    border: 5px solid #d36833;
    background-color: #d36833;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 20px 10px 30px 10px;
    border-radius: 5px;
    flex-wrap: wrap;
    
}

.main_tutor .main_tutor_content .main_tutor_socieal_networks > header {
    flex-basis: 100%;
    margin-bottom: 15px;
}

.main_tutor .main_tutor_content .main_tutor_socieal_networks > header h2 {
    font-size: 1.5em;
}

.main_tutor .main_tutor_content .main_tutor_socieal_networks article a {
    color: #d36833;
    font-size: .875em;
    background-color: #fff;
    border-radius: 5px;
    flex-basis: 22%;
}

.main_tutor .main_tutor_content .main_tutor_socieal_networks article a:hover {
    background-color: #2d3142;
    color: #fff;
}

/* Setima dobra - vip */

.main_vip {
    width: 100%;
    background-color: #e0e0e0;
}

.main_vip .main_content_vip {
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0;
}

.main_vip .main_content_vip h1 {
    font-size: 1.5em;
    margin-bottom: 40px;
    color: #333;
    
}

.main_vip .main_content_vip article h2 a {
    font-size: 1.1em; 
}

/*Oitava Dobra do - Footer*/

.main_footer {
    width: 100%;
    
}

.main_footer .main_content_footer {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    padding: 40px 0;
    flex-wrap: wrap;
}

.main_footer .main_content_footer > header {
    flex-basis: 100%;
    margin-bottom: 30px;
    font-size: 1.8em;
    color: #333;
}

.main_footer .main_content_footer article header h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
   
}

.main_footer .main_content_footer article ul li {
    margin-bottom: 5px;
}

.main_footer .main_content_footer article ul li a {
    color: #000;
    
}

.footer_pags {
 
  flex-basis: 25%;
}

.footer_links {
   
    flex-basis: 25%;
}

.footer_about {
   
    flex-basis: 50%;
}

.main_footer > p {
   
    margin: 10px 0 30px 0;
    text-align: center;
}