/* Mexendo no header*/

.main_header {
    width: 100%;
    background-color: #2d3142;
}

.main_content_header {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
}

.main_content_header .main_content_header_logo {
    width: 290px;
    padding: 20px;
    flex-basis: 330px;
}

.main_content_header .main_header_content_menu {
    display: flex;
    flex-basis: calc(100% - 330px);
    justify-content: flex-end;
}

.main_content_header .main_header_content_menu ul {
    display: flex;
    list-style: none;
}

.main_content_header .main_header_content_menu ul li {
    display: flex;
}

.main_content_header .main_header_content_menu ul li a {
    display: flex;
    align-items: center;
    color: #d36833;
    padding: 0 25px;
    
}

.main_content_header .main_header_content_menu ul li a:hover {
    background-color: #d36833;
    color: #fff;
}

/* Primeira dobra - CPA */

.main_cta {
    width: 100%;
    background-color: #2d3142;
    background-image: url('../_img/bg_main_home.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.main_cta .main_content_cta {
    max-width: 1300px;
    margin: 0 auto;
    padding: 15.3% 40px;

}

.main_cta .main_content_cta h1 {
    text-align: center;
    font-size: 3em;
    color: #fff;
    font-weight: 700;
}

.main_cta .main_content_cta p {
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    font-weight: 300;
    margin: 20px 0;
}

.main_cta .main_content_cta .btn_orange {
    font-size: .875em;
}

/*Segunda dobra - sessão de artigos */

.main_article {
    
    width: 100%;
}

.main_article .main_article_content {
    

    max-width: calc(1300px - 40px);
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
}

.main_article .main_article_content .main_article_header {
    
    flex-basis: 100%; /*esta pegando a largura do conteudo*/
    color: #333;
}

.main_article .main_article_content .main_article_header h1 {
    


    font-size: 1.8em;
    margin: 20px 0 5px 0;
}

.main_article .main_article_content .main_article_header p {
    margin-bottom: 10px;
    font-weight: 500;
}

.main_article .main_article_content article {
    flex-basis: calc(25% - 20px);
    margin: 10px;
    opacity: .6; /*Tag para clarear o conteudo*/
    transition: opacity .5s linear; /*Transição de uma propriedade escolhida*/

}

.main_article .main_article_content article:hover {
    opacity: 1;
    transform: opacity .5s ease-in-out;
}


.main_article .main_article_content article img {
    width: 100%;
}

.main_article .main_article_content article p {
    margin: 10px 0;
}

.main_article .main_article_content article p a{
    color: #d36833;
    font-size: .875em;
}

.main_article .main_article_content article h2 {
    font-size: 1.1em;
    font-weight: 300;
}

.main_article .main_article_content article h2 a {
    color: #333;
}

/*Terceira dobra - optin*/

.main_optin {
    width: 100%;
    background-color: #2d3142;
    margin: 40px 0 10px 0;
}

.main_optin .main_optin_content {
    display: flex;
    max-width: calc(1300px - 40px);
    margin: 0 auto;
    padding: 40px 20px;
    
}

.main_optin .main_optin_content header,.main_optin .main_optin_content form {
    flex-basis: 50%;
}

.main_optin .main_optin_content header{

}

.main_optin .main_optin_content form input[type="text"],.main_optin .main_optin_content form input[type="email"]{
    border: none;    
    border-radius: 8px;
    flex-basis: 37%;
    padding-left: 10px;
}

.main_optin .main_optin_content header h1, .main_optin .main_optin_content header p {
    color: #fff;
    text-align: right;
    padding-right: 20px;
}

.main_optin .main_optin_content header h1 {
    font-size: 1.1em;
    letter-spacing: 1px;
}

.main_optin .main_optin_content form {
    display: flex;
    justify-content: space-between;
}

.main_optin .main_optin_content form button {
    border: none;
    border-radius: 8px;
    flex-basis: 20%;
}

/*Quarta dobra - curso*/

.main_course {
    border: 2px solid navy;

    width: 100%;
}

.main_course .main_course_content {
    max-width: 1300px;
    border: 3px solid darkred;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.main_course .main_course_content .main_course_header {
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
    color: #333;
    margin-bottom: 40px;
}

.main_course .main_course_content .main_course_header img {   
    margin-bottom: 20px;
}

.main_course .main_course_content .main_course_header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.main_course .main_course_content .main_course_about {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #333;
}

.main_course .main_course_content .main_course_about article {  
    flex-basis: calc(50% - 20px);
    margin: 20px 0;
    padding: 20px;
    background-color: #e0e0e0;
    border-radius: 5px;
}

.main_course .main_course_content .main_course_about article h2 {
    font-size: 1.1em;
}

.main_course .main_course_content .main_course_about article p {
    font-size: .875em;
}